[submodule "api"]
	path = api
	url = git@github.com:czernous/sample-docker-project-api.git
[submodule "auth"]
	path = auth
	url = git@github.com:czernous/docker-sample-project-auth.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:czernous/docker-sample-project-frontend.git